.icon { background-image: url(./../.././assets/images/sprite.png); display: block; }
.icon-delete { width: 50px; height: 50px; background-position: 0px 0px; }
.icon-play-black { width: 50px; height: 50px; background-position: -50px 0px; }
.icon-play { width: 50px; height: 50px; background-position: 0px -50px; }