.modal {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__background {
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
  }

  &__container {
    position: fixed;
    max-width: 100%;
    width: 600px;
    z-index: 100;
    background-color: #f4f7f8;
  }

  &__close {
    background: transparent;
    border: 0;
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 40px;
    outline:none;
    border: none;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover { opacity: 1; }
  }

  &__content {
    margin: 0;
    padding: 15px 30px;

    .modal__info {
      font-family: 'Kaushan Script', cursive;
      font-size: 35px;
      text-align: center;
      padding: 30px 0;
    }

    p:last-child { margin-bottom: 0; }

    .video__form__container{
      max-width: 500px;
      padding: 10px 20px;
      margin: 10px auto;
      border-radius: 8px;

      legend {
        font-family: 'Kaushan Script', cursive;
        font-size: 25px;
        margin-bottom: 10px;
      }

      input{
        @extend %ef-transition-backgroundColor;

        border: none;
        border-radius: 4px;
        outline: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color:#8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin: 0 0 30px;
        font-family: 'Dancing Script', cursive;
        font-size: 25px;

        &:focus{
          background-color: #d2d9dd;
        }
      }

      .number {
        background-color: #1abc9c;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-family: 'Kaushan Script', cursive;
        font-size: 25px;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 15px 15px 15px 0;
      }
    }
    .submit__btn {
      @extend %ef-transition-backgroundColor;

      cursor: pointer;
      position: relative;
      display: block;
      outline: none;
      padding: 19px 39px 18px 39px;
      color: #fff;
      background-color: #1abc9c;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #16a085;
      margin: 0 auto 10px;
      font-family: 'Kaushan Script', cursive;
      font-size: 25px;

      &:hover {
        background-color: #109177;
      }
    }
  }
}